<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">YelpCamp
                </p>
                <div class="list-group">
                    <li class="list-group-item active">Basic Information</li>
                    <li class="list-group-item">
                        <%= campground.name %> Gallery</li>
                    <li class="list-group-item">Category 3</li>
                </div>
                <div id="map" style="height: 400px;
                width: 100%; border-bottom: 1px solid black;"></div>
                <div class="list-group">
                    <li style="border-top: 0; text-align: center;" class="list-group-item list-group-item-info">
                        <%= campground.location %>
                    </li>
                </div>
                <div style="margin-top: 5%" class="list-group">
                    <a class="list-group-item" href="/campgrounds">Back to all Campgrounds</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%=campground.image%>" alt="camp">
                    <div class="caption-full">
                        <h4 class="pull-right">$
                            <%= campground.cost %>/night</h4>
                        <h4>
                            <a href="#">
                                <%= campground.name %>
                            </a>
                        </h4>
                        <p style='white-space:pre-line;'>
                            <%= campground.description %>
                        </p>
                        <p>Submitted By
                            <em>
                                <%= campground.author.username%>
                            </em>
                            <span class="pull-right">
                                <%= moment(campground.createdAt).fromNow() %>
                            </span>
                        </p>

                        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){  %>
                            <a class="btn btn-sm btn-info" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                            <form id="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            <% } %>
                    </div>

                </div>
                <div class="well" style="background: rgb(239,239,239)">
                    <div class="text-right">
                        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                            <input class="btn btn-sm btn-warning" type="submit" value="Add a new comment">
                            <hr>
                            <textarea maxlength="60" rows="2" style=" resize: none" class="form-control" type="text" name="comment[text]" placeholder="Add your comment"></textarea>
                            <hr>
                        </form>
                    </div>


                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong>
                                    <%= comment.author.username %>
                                </strong>
                                <span class="pull-right">
                                    <%= moment(comment.createdAt).fromNow() %>
                                </span>
                                <p style="word-wrap: break-word;">
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){  %>
                                    <a class="btn btn-xs btn-info" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                    <form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <%    }) %>
                </div>
            </div>
        </div>
    </div>

    <script>
        function initMap() {
            var lat = <%= campground.lat %>;
            var lng = <%= campground.lng %>;
            var center = { lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
          `
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
        $('textarea').each(function () {
            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;line-height: 1.5;overflow-y:hidden;resize: none');
        }).on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE1Wb7dyQk5DrwfPwb5-_nLob8xg6D228&callback=initMap"></script>

    <% include ../partials/footer %>